*{
    padding:0;
    margin: 0cap;
    box-sizing: border-box;
}

.font-open-sans  {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background: color #fffaf8;fad;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
     display: flex;
     justify-content: space-between;
    margin: 0px auto;
}
.logo {
    font-size: 45px;
 }
 .orange{
    color: #e44404;
 }
  .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font size: 20px; color: #474747;  }
   
    nav .menu{
text-decoration: none;
    }
    .share{
        border-radius: none  ; 
    padding: 18px 35px;
    background-color: #FD6E0A; color: #fff8ff;font-weight: bold;
    font-size: 20px;
    }
    nav{
        align-items: center;
    }